<div class="dashboard-component container">
    <nav>
        <app-card text="Hantera budget" link="budgetplan"></app-card>
        <app-card text="Hantera budget" link="budgetplan"></app-card>
        <app-card text="Hantera budget" link="budgetplan"></app-card>
        <app-card text="Hantera budget" link="budgetplan"></app-card>
        <app-card text="Hantera budget" link="budgetplan"></app-card>
        <app-card text="Hantera budget" link="budgetplan"></app-card>
        <!-- <app-card></app-card>
        < link="test" title="Hantera budget" />
        <Card link="test" title="Grafer" />
        <Card link="test" title="Nuvarande månad" />
        <Card link="/budgetplan" title="Budgetplan" /> 
        <Card link="test" title="Lägg till Användare" />
        <Card link="test" title="Skapa budgetplan" /> -->
    </nav>
</div>