<div class="outcome-item-component">
  <div *ngIf="!editMode; else editTemplate">
    <div class="outcome-item">
      <span> {{ outcome.name }}: </span>
      <span>
        {{ outcome.amount }}
      </span>
      <button class="btn btn-edit" (click)="toggleEdit()">Ändra</button>
      <button class="btn btn-delete" (click)="deleteItem()">X</button>
    </div>
  </div>

  <ng-template #editTemplate>
    <form
      *ngIf="form"
      [formGroup]="form"
      class="outcome-edit"
      (ngSubmit)="save()"
    >
      <input
        class="input-text"
        [name]="'name'"
        type="text"
        [formControlName]="'name'"
      />
      <input
        class="input-text"
        [name]="'amount'"
        type="number"
        [formControlName]="'amount'"
      />
      <input
        [name]="'reoccouring'"
        type="checkbox"
        [formControlName]="'reoccouring'"
        class="input-checkbox"
      />
      <input type="submit" class="btn btn-save" value="Spara" />
      <button (click)="toggleEdit()" type="button" class="btn btn-delete">
        X
      </button>
    </form>
  </ng-template>

  <div class="form-control-group"></div>
</div>
