<div class="month-component">
  <app-month-navigator
    (newMonthSelected)="getNewOutcomes()"
    [month]="activeMonth"
  ></app-month-navigator>

  <section>
    <app-income-section (createIncome)="getIncomes()"></app-income-section>
    <app-income-list
      [incomes]="incomes"
      (getNewIncomes)="getIncomes()"
    ></app-income-list>
  </section>

  <app-category-navbar
    (changeActiveCategory)="setActiveCategory($event)"
    *ngIf="categories.length > 0"
    [categories]="categories"
  ></app-category-navbar>
  <app-add-outcome (emitFormValue)="formSubmitted($event)"></app-add-outcome>
  <app-outcome-list
    *ngIf="outcomes"
    [activeCategory]="activeCategory"
    [outcomes]="outcomes"
    (outcomeUpdate)="getNewOutcomes()"
  ></app-outcome-list>
</div>
